@import '../variables.module.scss';

.infos {
    margin: 100px 0px;
    position: relative;
    z-index: 99;
  
    h2 {
        font-size: 2.5rem;
        font-weight: 500;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    .infosContainer {
        height: 100%;
        width: 100%;
        position: relative;

        span::after {
            background-color: $pink;
        }

        h2{
            margin-bottom: 20px;
        }


        .infosContent {
            width: 50%;
            margin-bottom: 175px;
            transition: all 0.3s;
            display: flex;
            height: 40vh;
        
            .infoDetails{
                display: flex;
                flex-direction: column;
        
                h3 {
                    font-size: 1.2rem;
                    margin-block-start: 0em;
                    margin-block-end: 20px;
                    text-transform: uppercase;
                    color: $grey;
                    font-weight: unset;
                    span{
                        color: $pink;
                    }
                }
                
                p {
                    margin-block-start: 0em;
                    font-size: 1.2rem;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

