@import "../variables.module.scss";

.infos {
    position: relative;
    z-index: 99;

    h2 {
        font-size: 2.5rem;
        font-weight: 500;
        -webkit-margin-before: 0em;
        margin-block-start: 0em;
        -webkit-margin-after: 0em;
        margin-block-end: 0em;
    }

    .infosContainer {
        height: 100%;
        width: 100%;
        position: relative;

        span::after {
            background-color: $pink;
        }

        h2 {
            margin-bottom: 20px;
        }

        .infosContent {
            width: 50%;
            margin-bottom: 175px;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            .infoDetails {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                h3 {
                    font-size: 1.2rem;
                    -webkit-margin-before: 0em;
                    margin-block-start: 0em;
                    -webkit-margin-after: 20px;
                    margin-block-end: 20px;
                    text-transform: uppercase;
                    color: $grey;
                    font-weight: unset;
                    span {
                        color: $pink;
                    }
                }

                p {
                    -webkit-margin-before: 0em;
                    margin-block-start: 0em;
                    font-size: 1.2rem;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .infosContent {
        width: 100%!important;
    }
}
