@import "../variables.module.scss";

.quizzContainer {
    position: relative;
    z-index: 99999999999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .quizzBlock {
        width: 50%;

        p {
            text-transform: uppercase;
            margin-bottom: $margin-base-bottom;
        }

        h3 {
            text-transform: uppercase;
            margin-bottom: $margin-base-bottom;
        }

        h4 {
            margin: 30px 0px;
            font-size: 2rem;
        }

        span::after {
            background-color: $purple;
        }
        .quizzHeader {
            text-transform: uppercase;
            span::after {
                background-color: $purple;
            }
        }
        .quizzIntroduction {
            text-transform: uppercase;
            margin: 40px 0;
            span {
                color: #8983d8;
            }
        }
        [data-finalscreen-button]{
            display: flex;
            flex-wrap: wrap;
            a:first-of-type{
                margin-bottom: $margin-base-bottom/2;
            }
        }
        form {
            div {
                background-color: #f1f1f1;
                color: $greyDark;
                padding: 20px;
                border-radius: $bdr-radius;
                margin-bottom: $margin-base-bottom;
                label {
                    color: $greyDark;
                    text-transform: uppercase;
                    padding-left: 35px;
                    display: block;
                    position: relative;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 25px;
                        width: 25px;
                        background-color: inherit;
                        border: 1px solid #000;
                        border-radius: 50%;
                    }
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        width: 100%;
                        left: 0;
                        z-index: 1;
                        height: 100%;
                    }
                    &:hover input ~ span {
                        background-color: $white;
                    }
                    input:checked ~ span {
                        background-color: $white;
                        border: 1px solid $black;
                    }
                    span {
                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                            top: 5px;
                            left: 5px;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            background: black;
                        }
                    }
                    input:checked ~ span:after {
                        display: block;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .quizzContainer {
        .quizzBlock {
            width: 100%;
        }
    }
}
