@import '../variables.module.scss';

.quizzContainer {
    position: relative;
    z-index: 99999999999999;
    display: flex;
    .quizzBlock{
        width: 50%;

        p {
            text-transform: uppercase;
        }

        h3 {
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        h4 {
            margin: 30px 0px;
            font-size: 2rem;
        }

        span::after{
            background-color: $purple;
        }
        .quizzHeader{
            text-transform: uppercase;
            span::after{
                background-color: $purple;
            }
        }
        .quizzIntroduction{
            text-transform: uppercase;
            margin: 40px 0;
            span{
                color: #8983D8;
            }
        }
        form{
            div{
                background-color: #F1F1F1;
                color: #494949;
                padding:20px;
                border-radius: 10px;
                margin-bottom: 30px;
                label{
                    color: #494949;
                    text-transform: uppercase;
                    padding-left: 35px;
                    display: block;
                    position: relative;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    span{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 25px;
                        width: 25px;
                        background-color: inherit;
                        border: 1px solid #000;
                        border-radius: 50%;
                    }
                    input{
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        width: 100%;
                        left: 0;
                        z-index: 1;
                        height: 100%;
                    }
                    &:hover input ~ span{
                        background-color: #fff;
                    }
                    input:checked ~ span{
                        background-color: #fff;
                        border:1px solid #000;
                    }
                    span{
                        &:after{
                            content: "";
                            position: absolute;
                            display: none;
                            top: 5px;
                            left: 5px;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            background: black;
                        }   
                    }
                    input:checked ~ span:after{
                        display: block;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 1024px){
    .quizzContainer{
        .quizzBlock{
            width: 100%;
        }
    }
}