.reassurances {
    margin: 100px 0px;

    h2 {
        font-size: 2.5rem;
        font-weight: 500;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-bottom: 100px;

        span {
            font-weight: 600;
        }
    }

    .reassurances__container {
        margin: 0 auto;
        width: 80%;
    }
}
.reassurance{
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 30px;

    img {
        border-radius: 150px;
    }

    .reassuranceDetails{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 25px;

        h3 {
            font-size: 1.2rem;
            margin-block-start: 0em;
            margin-block-end: 0em;
        }
        
        p {
            margin-block-start: 0em;
            margin-block-end: 0em;
            font-size: 1rem;
            text-align: justify;
            margin-top: 5px;
        }
    }
}