@import './variables.module.scss';
@import './mixins.module.scss';

.container, .fullContainer {
    span[data-up] {
        position: relative;
        height: auto;
        font-weight: bold;

        &::after {
            content: '';
            z-index: -1;
            position: absolute;
            left: 0;
            top: 60%;
            height: 20px;
            width: 100%;
            display: inline-block;
            opacity: 25%;
        }
    }
}


.scrollbar {
    height: 65px;
    width: 65px;
    background-color: black;
    position: fixed;
    z-index: 1;
    left: 5%;
    bottom: 5%;
    transition: 0.3s ease;
    border-radius: 150px;
    z-index: 999999;

    .scrollbarWrapper {
        overflow: hidden;
        height: 100%;
        width: 100%;
        border-radius: 150px;
        position: absolute;
        top: 0;
    }

    .scrollbarIndicator{
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #DD5068;
    }

    svg {
        position: absolute;
        fill: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.cursor {
    position: absolute;
    z-index: 9999999999;
    height: 12px;
    width: 12px;
    background-color: pink;
    border-radius: 150px;
}

.fullContainer {
    width: 90%;
    margin: 0 auto;
}

.container {
    width: 75%;
    margin: 0 auto;
    z-index: 99999;
    position: relative;

    
}

.fullContainer, .container {
    a{
        font-family: 'sequel_100_black55';
    }

    h2 {
        text-transform: uppercase;
    }

    h1, p, label, h2, h3, h4, li, span {
        font-family: 'sofia_proregular';
    }

    a{
        text-decoration: none;
    }
}




