@font-face {
    font-family: "sequel_100_black55";
    src: url("./fonts/sequel-webfont.woff2") format("woff2"), url("./fonts/sequel-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "sofia_proregular";
    src: url("./fonts/sofia_pro_regular_az-webfont.woff2") format("woff2"),
        url("./fonts/sofia_pro_regular_az-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "sofia_prosemibold";
    src: url("./fonts/sofia_pro_semi_bold_az-webfont.woff2") format("woff2"),
        url("./fonts/sofia_pro_semi_bold_az-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "sofia_promedium";
    src: url("./fonts/sofia_pro_medium_az-webfont.woff2") format("woff2"),
        url("./fonts/sofia_pro_medium_az-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "sofia_prolight";
    src: url("./fonts/sofia_pro_light_az-webfont.woff2") format("woff2"),
        url("./fonts/sofia_pro_light_az-webfont.woff") format("woff");
    font-weight: light;
    font-style: light;
}

$font1: "sofia_proregular";
$font2: "sequel_100_black55";

//COLOR
$pink: #dd5068;
$orange: #f9bb5d;
$purple: #8983d8;
$black: #111111;
$white: #ffffff;
$greyDark: #494949;
$grey: #a5a5a5;

//RADIUS
$bdr-radius: 10px;

//
//MARGIN
$margin-base-top: 30px;
$margin-base-bottom: 30px;
